.sidenav-container {
  height: 100%;
}

.sidenav.handset {
  width: 100%;
}
.sidenav.tablet {
  width: 30%;
  max-width: 300px;
}
.sidenav.web {
  width: 300px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}
